h1 {
  text-align: center;
  font-family: Palantino, serif;;
}

.display {
  font-family: Courier, monospace;
  font-size: 150%;
}

.clock {
  display: none;
  margin-left: auto;
  margin-right: auto;
}

.clock {
  text-align: center;
  font-family: Palantino, serif;;
  font-weight: bold;
}

.reset {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.user-form {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}
